.DiaryList .menu-bar {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.DiaryList .menu-bar select {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.DiaryList .menu-bar button {
  flex: 1;
}
